*{
	box-sizing: border-box;
    
	/*transition: all 0.5s ease-in-out;*/
}
a {
	text-decoration: none;
}
body {
	font-size: 40px;
}
p {
color: green; 
text-align: center;
}
.wraper {
	align-items: center;
	font-size: 16px;
}
.list {
	align-items: center;
	font-size: 14px;

}
